@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#403075;
}

.nav-img {
    margin-top: 5px;
    padding-left: 30px;
    height: 30px;
    
}

.cabeca {
    background-color:#403075;
    margin-bottom: 100px;
}

.cabecalho {
    display: flex;
    background-color: #13073A;
    height: 40px;
    
}
.nav-head {
    display: flex;
    flex-direction: row;
    padding-left: 38px;
    align-items: center;
}

.nav-title {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.corpo {
    background-color:#403075;
    height: 720px;
    
}

.linha1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 40px;
    background-color: darkslateblue;
}

.linha2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 40px;
    background-color: darkslateblue;
    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 100px;
    margin-bottom: 40px;
}

.kpi {
    align-items: center;
}

.kpi-title {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    
}

.kpi-value {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: white;
}

.login-conteudo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.head-login {
    background-color: #13073A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    
}

.tittle-login {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.body-login {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: darkslateblue;
    padding: 0px 72px 55px;
}

.lb-login {
    padding: 10px;
}

.lb-login {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}
.btn-login {
    margin-top: 30px;
    padding: 5px;
    background-color: #13073A;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    border-bottom: #403075;
}

.input-login {
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}