<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="nav-img">
        <nav class="nav-head">
            <h1 class="nav-title">Dashboard KPI's</h1>
        </nav>
    </header>
    <main class="corpo">
        <section class="conteudo-principal">
            <div class="linha1">
                <div class="kpi">
                    <h3 class="kpi-title">Peso Vendido Hoje</h3>
                    <p class="kpi-value">{{ peso }} KG</p>
                </div>
            </div>
            <div class="linha1">
                <div class="kpi">
                    <h3 class="kpi-title">Faturado Hoje</h3>
                    <p class="kpi-value">{{ vendas }}</p>
                </div>
            </div>
            <div class="linha1">
                <div class="kpi">
                    <h3 class="kpi-title">Vendas Hoje</h3>
                    <p class="kpi-value">{{ nvendas }}</p>
                </div>
            </div>
            <div class="linha1">
                <div class="kpi">
                    <h3 class="kpi-title">Canceladas Hoje</h3>
                    <p class="kpi-value">{{ canceladas }}</p>
                </div>
            </div>
        </section>
        <section class="conteudo-principal">
            <div class="linha1">
                <div class="kpi">
                    <h3 class="kpi-title">Taxa de Cancelamento</h3>
                    <p class="kpi-value">{{ percent_cancel }} %</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>